html{
    background-color: #2F0D68;
    z-index: -10;
}
.contain_main{
    
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
    background: url('/src/assets/imgs/night_background_image.png') center center / cover;
    
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    
    opacity: 0.7;
    z-index: -5;
    pointer-events: none;
}

.contain{
    
    z-index: 1;
}